body{
    width: 80%;
    margin: auto;
    background-color: white;
   font-family: Inter, Georgia, Arial; 
}


main{
    padding: 2px;
}


a{
    text-decoration:none;
    color: blue;
}

h1{
    color: #757575;
}


h2{
    color: #616161;
} 


h3{
    color: #424242;
}


footer{
    font-size: small;
    font-style: italic;
    color: #9e9e9e;
}


.title_box{
    width: 80%;
    text-align:left;
    color: #9e9e9e;
}


.header_table{
    align: left;
    width: 60%;
}


.header_table_td{
    vertical-align: middle;
    text-align: left;
}
 

#logo{
    width: 400px;
    color: #e0e0e0;
    font-size: 600%;
    font-weight: bold;
}


.code{
   font-family: Courier New;
   padding-left: 20px;
   padding-top: 5px;
   padding-bottom: 5px;
}

